body{
  background-color: #121212;
  color: #fff;
}

/* body.dark {
  background-color: rgb(18, 18, 18);
  color: rgb(255, 255, 255);
} */

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  display: inline-block;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}